@font-face { font-family: '국립박물관문화재단클래식B'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
    background: #323436;
    color: #fff;
}
.mainBox{
  margin: 0 5vw;
}
.title{
  font-family: 국립박물관문화재단클래식B;
  user-select: none;
}

.text-center{
  text-align: center;
}

.swiper-container{
  height: 600px;
}

.swiper-pagination-bullet-active{
  background: white !important;
}
.swiper-button-next, .swiper-button-prev{
  color: white !important;
}

.pic1{
  background: url('pic/KakaoTalk_20191204_002844793_01.jpg') no-repeat 50%;
  background-size: contain;
}
.pic2{
  background: url('pic/KakaoTalk_20191204_002844793_02.jpg') no-repeat 50%;
  background-size: contain;
}
.pic3{
  background: url('pic/KakaoTalk_20191204_002844793_03.jpg') no-repeat 50%;
  background-size: contain;
}
.pic4{
  background: url('pic/KakaoTalk_20191204_002844793_04.jpg') no-repeat 50%;
  background-size: contain;
}

.navigation{
  list-style: none;
  color: white;
  position: fixed;
  top: 1em;
  right: 2em;
  z-index: 20;
}

.nav-item{
  display: inline-block;
}
.nav-item:hover{
  background: #3a3d40;
}
.nav-item a {
  display: block;
  width: 80px;
  height: 40px;
  color: white;
  text-decoration-line: none;
  text-align: center;
  line-height: 40px;
}

.about{
  font-size: 3em;
  margin: 300px 0;
}

.contact{
  font-size: 2em;
  margin: 300px 0;
}